:root {
  /* --- Collection: Default Collection --- */
  /* Category: color */
  --default-collection-primary-brand: rgba(40, 106, 212, 1); /*  */
  --default-collection-bg-brand-default: rgba(168, 64, 64, 1); /*  */

  /* Category: shadow */
  --default-collection-shadow: 0 4 24 8 rgba(0, 0, 0, 1); /*  */

  /* --- Collection: from figma --- */
  /* Category: color */
  --from-figma-primary: #a14a4a; /*  */

  /* Category: dimension */
  --from-figma-space: 1px; /*  */

  /* --- Collection: Base Palette --- */
  /* Category: color */
  --base-palette-primary-surface: #F5F8FA; /* Couleur principale d’arrière-plan. */

}

html[data-theme="Dark"] {
  /* --- Collection: Default Collection - Mode: Dark --- */
  /* Category: color */
  --default-collection-primary-brand: rgba(222, 85, 85, 1); /*  */
  --default-collection-bg-brand-default: rgba(209, 146, 146, 1); /*  */

  /* Category: shadow */
  --default-collection-shadow: 0 4 24 8 rgba(223, 71, 71, 1); /*  */

}

html[data-theme="dark"] {
  /* --- Collection: from figma - Mode: dark --- */
  /* Category: color */
  --from-figma-primary: #697fcf; /*  */

  /* Category: dimension */
  --from-figma-space: 2px; /*  */

}