:root {
  /* --- Collection: Default Collection --- */
  /* Category: color */
  --default-collection-primary-brand: rgba(144, 149, 157, 1); /*  */

  /* --- Collection: from figma --- */
  /* Category: color */
  --from-figma-primary: #a14a4a; /*  */

  /* Category: dimension */
  --from-figma-space: 1px; /*  */

  /* --- Collection: Base Palette --- */
  /* Category: color */
  --base-palette-primary-surface: #F5F8FA; /* Couleur principale d’arrière-plan. */

}

html[data-theme="Dark"] {
  /* --- Collection: Default Collection - Mode: Dark --- */
  /* Category: color */
  --default-collection-primary-brand: rgba(222, 85, 85, 1); /*  */

}

html[data-theme="dark"] {
  /* --- Collection: from figma - Mode: dark --- */
  /* Category: color */
  --from-figma-primary: #697fcf; /*  */

  /* Category: dimension */
  --from-figma-space: 2px; /*  */

}